@model   MIUBlog.WebUI.Models.DiscussionModel
@{
    ViewData["Title"] = "Details";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("Categories")
        </div>
        <div class="col-md-9">
            <div class="card mb-2">
                <img class="card-img-top" src="~/img/@Model.Discussion.Image" alt="Card image cap">

                <div class="card-block">
                    <br />
                    <h3 class="card-title text-left" style="display:inline-block;">@Model.Discussion.Title</h3><br />
                    <p class="card-title text-right" style="display:inline-block;"><i class="far fa-user-circle"></i>&nbsp; @Model.Discussion.ApplicationUser.NormalizedUserName</p>
                    <p class="card-text">@Model.Discussion.Description</p>
                    <p class="card-text">@Html.Raw(Model.Discussion.Body)</p>
                    <h5> Yorumlar </h5>
                    @if (Model.Comments.Count() == 0)
                    {
                        <p> Bu tartışmaya ilgiliz henüz yorum yapılmamış</p>
                    }
                    else
                    {
                        @foreach (var comment in Model.Comments)
                        {

                            <div class="card">
                                <div class="card-header">
                                    <span style="display:inline-block" class="text-left"> @comment.ApplicationUser.NormalizedUserName</span>
                                    <span style="display:inline-block" class="text-right"> @comment.Date </span>
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>@comment.CommentText</p>

                                    </blockquote>
                                </div>
                            </div>






                        }
                    }

                    @if (User.Identity.IsAuthenticated)
                    {

                        <form method="post" asp-action="CreateDiscussionComment" asp-route-discussionId="@Model.Discussion.Id" asp-controller="Comment">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="font-weight-bold">Yorum yap</h3>
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">

                                        <textarea class="form-control" name="commentText" id="commentText" placeholder="Username" aria-label="Username">
                                            
                                        </textarea>

                                        <button type="submit" class="btn mt-1 btn-outline-secondary rounded-pill mt-1">Gönder</button>
                                    </blockquote>
                                </div>
                            </div>



                        </form>

                    }
                    else
                    {
                        <div class="form-control">
                            <input class="form-control" disabled="disabled" placeholder="Yorum yapmak için üye olunuz" aria-label="Yorum yapmak için üye olunuz" />


                        </div>
                        <a class="btn btn-outline-secondary rounded-pill mt-1" onclick="getMessage()"> Gönder </a>

                    }

                </div>

            </div>
        </div>
    </div>

</div>

<script>
    function getMessage() {
        alert("Yorum Yapmak İçin Lütfen Üye Olunuz");
    }
</script>